
.icon-spin5:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-direction-1:before { content: '\e806'; } /* '' */