$icon-size: 20px;
$font-size: 16px;
$panel-height: 60px;
$radius: 20px;
$station-height: 110px;
$header-height: 60px;
$dark: #2F303D;
$light: #ddd;
$font-color: #333;
$light-orange-color: #FF9525;
$dark-orange-color: #F27E1F;
$light-green-color: #ACF27C;
$dark-green-color: #6FA534;

@media (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  $icon-size: 40px;
  $radius: 40px;
  $station-height: 180px;
}