@import "base";
@import "fontello";
@import "bookmark";
@import "search-form";
@import "station-list";


body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  color: $font-color;
}
.appContainer {
  position: absolute;
  width: 100%;
}

@media (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .appContainer {
    width: 100%;
    font-size: $icon-size;
  }
}