@import "base";
@import "fontello";
@import "bookmark";
@import "search-form";
@import "station-list";
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);

body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  color: $dark;
}
.appContainer {
  position: absolute;
  width: 100%;
  .searchContainer {
    position: absolute;
    background-image: url("../images/hero-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -80px;
    width: 100%;
    padding-bottom: 80px;
    @media screen and (max-width: 640px) {
      padding-bottom: 100px;
    }
  }
}

.hidden {
  display: none;
}
