header {
  height: $header-height;
  background-color: rgba(250, 152, 32, 0.9);
  z-index: 1000;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  h1 {
    font-size: 28px;
    font-weight: lighter;
    color: $dark;
    margin: 0;
    line-height: $header-height;
  }
  .bookmark {
    font-size: 2rem;
    position: absolute;
    right: 20px;
    top: 0;
    color: white;
    cursor: pointer;


    &:hover {
      text-shadow: 1px 1px 4px #ccc;
      top: -2px;
    }
  }
  [class*=" icon-"]:before, [class^=icon-]:before {
    line-height: $header-height;
  }
}

