header {
  height: $header-height;
  background-color: rgba(250, 152, 32, 0.9);
  z-index: 1000;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
  @media screen and (max-width: 640px) {
    height: $header-height-mobile;
  }

  h1 {
    font-size: 28px;
    font-weight: lighter;
    color: $dark;
    margin: 0;
    line-height: $header-height;

    @media screen and (max-width: 640px) {
      font-size: 22px;
      line-height: $header-height-mobile;
    }
  }
  .bookmark {
    font-size: 2rem;
    position: absolute;
    right: 20px;
    top: 0;
    color: white;
    cursor: pointer;

    @media screen and (max-width: 640px) {
      font-size: 1.2rem;
    }

    &:hover {
      text-shadow: 1px 1px 4px #ccc;
      top: -2px;
    }
  }
  [class*=" icon-"]:before, [class^=icon-]:before {
    line-height: $header-height;

    @media screen and (max-width: 640px) {
      line-height: $header-height-mobile;
    }
  }
}

