header {
  height: $header-height;
  background-color: $dark;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  h1 {
    font-size: 28px;
    font-weight: lighter;
    color: white;
    margin: 0;
    line-height: $header-height;
  }
  .bookmark {
    font-size: 2rem;
    position: absolute;
    right: 20px;
    top: 0;
    color: $dark-orange-color;
    cursor: pointer;

    &:hover {
      color: $light-orange-color;
    }
  }
  [class*=" icon-"]:before, [class^=icon-]:before {
    line-height: $header-height;
  }
}

