.searchForm {
  margin: $header-height+80px auto 0;
  height: $panel-height;
  width: $content-width;
  position: relative;

  .searchBox {
    height: 100%;
    width: 100%;
    border: 3px solid $light-green-color;
    padding-left: 16px;
    font-size: $font-size;

    &:focus {
      outline: none;
    }
  }

  .buttons {
    position: absolute;
    right: 0;
    top: 0;
    height: $panel-height;
    background-color: $light-green-color;

    button {
      width: $panel-height;
      height: 100%;
      border: none;
      background: none;
      font-size: 24px;
      color: $dark;
      cursor: pointer;

      &:hover {
        color: white;
        font-size: 30px;
      }

      &:focus {
        outline: none;
      }
    }

    .searchButton {
      background-color: rgba(255,255,255,.2);
    }
  }

}

@media (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .searchForm {
    height: $panel-height;

    .searchBox {
      font-size: $font-size;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      padding-left: 30px;
    }
  }
}
