.searchForm {
  margin: $header-height+80px auto 0;
  height: $panel-height;
  width: $content-width;
  position: relative;

  @media screen and (max-width: 810px) and (min-width: 641px) {
    width: $content-width-tablet;
    margin-top: $header-height+60px;
  }

  @media screen and (max-width: 640px) {
    width: $content-width-mobile;
    margin-top: $header-height-mobile+30px;
    height: $panel-height-mobile;
  }
  
  .searchBox {
    height: 100%;
    width: 100%;
    border: 4px solid $light-green-color;
    padding-left: 16px;
    font-size: $font-size;
    box-sizing: border-box;

    @media screen and (max-width: 640px) {
      border: 3px solid $light-green-color;
      font-size: 13px;
      padding-left: 10px;
    }

    &:focus {
      outline: none;
    }
  }

  .buttons {
    position: absolute;
    right: 0;
    top: 0;
    height: $panel-height;
    background-color: $light-green-color;
    width: $button-width*2;

    @media screen and (max-width: 640px) {
      height: $panel-height-mobile;
    }

    @media screen and (max-width: 445px) {
      width: $button-width-mobile*2;
    }

    button {
      width: 50%;
      height: 100%;
      border: none;
      background: none;
      font-size: 24px;
      color: $dark;
      cursor: pointer;

      &:hover {
        color: white;
        font-size: 30px;
      }

      &:focus {
        outline: none;
      }

      @media screen and (max-width: 640px) {
        font-size: 18px;
        &:hover {
          font-size: 24px;
        }
      }
    }

    .searchButton {
      background-color: rgba(255,255,255,.2);
    }
  }

  .icon-spin5 {
    position: absolute;
    top: 18px;
    font-size: 24px;
    color: black;
    right: 135px;

    @media screen and (max-width: 640px) {
      top: 11px;
      font-size: 18px;
      right: 27%;
    }
  }
}
