.stationList {
  .station {
    border-bottom: 1px solid $light;
    position: relative;
    height: $station-height;

    .info {
      display: inline-block;
      width: 70%;
      height: 100%;
      float: left;
      font-size: $font-size;

      h1, p {
        margin-left: 16px;
        margin-right: 16px;
      }
    }

    .action {
      display: inline-block;
      width: 30%;
      height: 100%;
      float: right;

      .navi {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        height: 100%;
        font-size: inherit;
        border: 0;
        background: none;

        a {
          display: block;
          padding: 45px 53px;
          color: inherit;
          text-decoration: none;

          &:hover {
            cursor: default;
            background: $light;
          }
        }
      }

      .bookmark {
        display: inline-block;
        width: 50%;
        height: 100%;
        font-size: inherit;
        border: 0;
        background: none;

        &:focus {
          outline: none;
        }

        &:hover {
          background: $light;
        }
      }
    }
  }
}

@media (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .stationList {
    .station {
      height: $station-height;

      .info {
        font-size: $font-size;

        h1, p {
          margin: 28px 30px;
        }
      }

      .action {
        .navi {
          a {
            padding: 68px 42px;

            &:hover {
              background: none;
            }
          }
        }

        .bookmark {
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}
