.stationList {
  width: 100%;
  margin: 0 auto;
  position: absolute;

  .stationListContainer {
    background-color: rgba(255,255,255,.8);
    width: $content-width;
    margin: 0 auto;

    .station {
      margin-top: 10px;
      position: relative;
      height: $station-height;
      background-color: rgba(190,230,150,.2);

      .info {
        display: inline-block;
        width: 70%;
        height: 100%;
        float: left;
        font-size: $font-size;

        h1, p {
          margin: 0.8em 16px 0;
        }

        h1 {
          color: $dark-orange-color;
        }
        p {
          font-size: 13px;
        }
      }

      .action {
        display: inline-block;
        height: 100%;
        float: right;

        .navi:before {
          margin: 0;
          line-height: $station-height;
        }
        .navi, .bookmark {
          width: 60px;
          font-size: 16px;
          display: inline-block;
          padding: 0;
          box-sizing: content-box;
          background: none;
          border: none;
          height: 100%;
          text-decoration: none;
          text-align: center;
          color: $dark;

          &:hover {
            cursor: pointer;
            background: $light;
            color: $dark-orange-color;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .stationList {
    .station {
      height: $station-height;

      .info {
        font-size: $font-size;

        h1, p {
          margin: 28px 30px;
        }
      }

      .action {
        .navi {
          a {
            padding: 68px 42px;

            &:hover {
              background: none;
            }
          }
        }

        .bookmark {
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}
